.header-title h1,h2{
    text-align: center;
}
.ol{
    font-size: 20px;
}
.ul{
    font-size: 17px;  
    line-height: 1.6;
}
/* .instructions-body{
    text-align: center;
} */
.instruction-button{
    display: block;
    margin: auto;
}
.button-div{
    margin-bottom: 20px;
}